<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog | Week 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="dropdown">
        <button>Button</button>
        <div>
            <a href="/">Home</a>
            <a href="/week2">Week Two</a>
            <a href="/week3">Week Three</a>
            <a href="/week4">Week Four</a>
        </div>
    </div>
    <h1>Week One</h1> 
    <textarea rows="4" cols="50">
        After the first day this week was actually pretty fun and i learned alot about variables, data types, strings, algorithms, binary and linear searches,
    </textarea>
</body>
</html>