body {
    background-color: #6699CC;
}
h1 {
    color: white;
    text-indent: 20px;
    margin-bottom: 0;
}

.container {
    background-color: #2c539c;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.list-group-item {
    background-color: #2c539c
    ;
}

.btn {
    background-color: #f11421;
}

li:hover {
    text-decoration: line-through;
    background: rgba(241, 233, 233, 0.2);
    cursor: pointer;
}

.dropdown{
    display:inline-block;
    position:relative;
}

.dropdown button{
    border:none;
    padding:8px 16px;
    background-color:#6699CC;
    color:white;
    transition:.3s;
    cursor:pointer;
}

.dropdown:hover button{
    background-color:#6699cc;
}

.dropdown div{
    background-color:#6699CC;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    z-index:1;
    visibility:hidden;
    position:absolute;
    min-width:100%;
    opacity:0;
    transition:.3s;
}

.dropdown:hover div{
    visibility:visible;
    opacity:1;
}

.dropdown div a{
    display:block;
    text-decoration:none;
    padding:8px;
    color:#000;
    transition:.1s;
    white-space:nowrap;
}

.dropdown div a:hover{
    background-color:hotPink;
    color:#fff;
}

